# Archivos generados automáticamente por Visual Studio
.vs/
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.json
*.suo
*.v2
/hubsbrowser24_DigitalTwins/.vs/hubsbrowser24/v17/DocumentLayout.json
/hubsbrowser24_DigitalTwins/.vs/hubsbrowser24/v17/.suo
