body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header, #preview {
    position: absolute;
}


/*_________________________________________________________________________________*/


#toolbar {
    position: absolute;
    top: 5em;
    display: flex;
    flex-direction: column;
    background-color: #081E32; /* Fondo del toolbar */
    position: fixed;
    width: 220px; /* Ancho normal del toolbar */
    height: 100%;
    text-decoration: none;
    align-items: flex-start;
    z-index: 3000;
    justify-content: initial;
    transform-origin: top;
    transition: width 0.3s ease; /* Transición suave para el cambio de ancho */
}

/* Cuando el botón menu-btn se presiona */
#toolbar.hidden {
    width: 75px; /* Reducir el 70% del tamaño del toolbar */
}

.toolbar-btn {
    position: relative;
    left: 5px;
    width: 60px; /* Ancho de los botones convertidos en círculos */
    height: 60px; /* Alto de los botones igual al ancho */
    top: 20px;
    margin-bottom: 25px;
    padding: 10px;
    border: none;
    border-radius: 50%; /* Bordes redondeados (círculos) */
    background-color: #0A3D62;
    color: transparent; /* El texto desaparece por defecto */
    font-family: ArtifaktElement;
    font-size: 1.2em; /* Ajuste del tamaño de íconos */
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.3s ease; /* Agregar transición en el ancho */

    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    gap: 10px; /* Espaciado entre el ícono y el texto */
}

#toolbar.hidden .toolbar-btn {
    width: 60px; /* Ancho reducido */
    border-radius: 50%; /* Círculo */

}

#toolbar:not(.hidden) .toolbar-btn {
    width: 200px; /* Ancho normal cuando está expandido */
    border-radius: 30px; /* Bordes más cuadrados cuando se expande */
    color: #FF6B00; /* Hacemos visible el texto */

    padding-left: 22px;
}

/* Hacer visible el texto dentro del botón cuando el toolbar está expandido */
#toolbar:not(.hidden) .toolbar-btn span {
    display: inline-block;  
    color: #B7FEEA; /* Texto en blanco */
    font-size: 0.9em; /* Ajustar el tamaño del texto */
    padding-left: 10px; /* Separación del ícono */
}

/* Mantener el ícono centrado cuando el toolbar está oculto */
#toolbar.hidden .toolbar-btn i {
    display: block;
    font-size: 1.5em; /* Ajuste del tamaño del ícono */
    margin: auto;
}

.toolbar-btn span {
    display: none; /* Ocultar el texto por defecto */
}

/* Estilos para los íconos dentro de los botones */
.toolbar-btn i {
    color: #FF6B00; /* Color del ícono */
    font-size: 1.5em; /* Tamaño del ícono */
    transition: transform 0.3s ease; /* Efecto para animar el ícono */
}

.toolbar-btn:hover i {
    transform: scale(1.2); /* Escala el ícono al pasar el ratón */
}

.toolbar-btn:hover {
    background-color: #008768; /* Color más oscuro al pasar el ratón */
}



/*_________________________________________________________________________________*/



/* Estilos del toolbar fijo en el lado derecho digital twins */
#toolbardt {
    position: fixed; /* Fijo en la pantalla */
    top: 5em; /* Empieza desde la parte superior */
    right: -80px; /* Pegado al lado derecho */
    display: flex;
    flex-direction: column; /* Alineación vertical de los botones */
    background-color: #081E32; /* Fondo oscuro */
    width: 75px; /* Ancho fijo del toolbar */
    height: 100%; /* Ocupa toda la altura de la pantalla */
    align-items: center; /* Centra los botones horizontalmente */
    z-index: 3000; /* Siempre visible y sobre otros elementos */
    justify-content: flex-start; /* Botones alineados al inicio */
    padding-top: 40px; /* Espacio superior para el primer botón */
    transition: right 0.3s ease-in-out;
}

/* Estilos de los botones dentro del toolbar */
.toolbardt-btn {
    width: 60px; /* Ancho del botón circular */
    height: 60px; /* Alto igual al ancho para mantener forma circular */
    margin-bottom: 20px; /* Espaciado entre botones */
    padding: 10px; /* Relleno interno */
    border: none; /* Sin bordes */
    border-radius: 50%; /* Forma circular */
    background-color: #0A3D62; /* Fondo negro */
    color: #FF6b00; /* Ícono blanco */
    font-size: 1.5em; /* Tamaño del ícono */
    cursor: pointer; /* Cambia el cursor al pasar */
    display: flex;
    justify-content: center; /* Centra el ícono horizontalmente */
    align-items: center; /* Centra el ícono verticalmente */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animación al hover */
}

/* Efecto hover en los botones */
.toolbardt-btn:hover {
    background-color: #008768; /* Fondo verde oscuro al pasar el ratón */
    transform: scale(1.1); /* Escala ligeramente el botón */
}

/* Estilo del ícono dentro del botón */
.toolbardt-btn i {
    color: #FF6b00; /* Ícono blanco */
    font-size: 1.5em; /* Ajuste del tamaño del ícono */
    transition: transform 0.3s ease; /* Animación al hover */
}

.toolbardt-btn:hover i {
    transform: scale(1.2); /* El ícono crece ligeramente al pasar */
}


/* Cuando el botón menu-btn se presiona */
#toolbar.bar-DT {
    width: 75px; /* Reducir el 70% del tamaño del toolbar */
}
#toolbardt.visible-dt-panel {
    right: 0;
}




/*_________________________________________________________________________________*/




#header {
    height: 5em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #081E32;
    color: #c7c7cc;
}
/* Estilos para el sidebar */
#sidebar {
    position: fixed;
    top: 5em;
    bottom: 0;
    width: 350px;
    background-color: #0A3D62;
    overflow-y: auto;
    overflow-x: auto;
    color: #ffffff;
    /*opacity: 0.6;*/
    white-space: nowrap;
    z-index: 2000;
    transition: width 0.3s ease, left 0.3s ease;
}

#sidebar * {
    overflow: visible;
    white-space: nowrap;
}
/* Estilos para el sidebar cuando el toolbar está contraído */
#sidebar.expanded {
    left: 220px; /* Cuando el toolbar está expandido */
    transition: width 0.3s ease;
}

/* Estilos para el sidebar cuando el toolbar está oculto */
#sidebar.collapsed {
    left: 75px; /* Cuando el toolbar está contraído */
    transition: width 0.3s ease;
}

/* Agregar estilo de ocultación */
#sidebar.hidden {
    width: 75px;
    transition: width 0.3s ease;
    /*transform: translateX(-30%);*/ /* Desplazar el sidebar fuera de la pantalla */
}

/* Estilo de transición suave cuando el toolbar se expande o contrae */
#toolbar.hidden + #sidebar {
    left: 75px; /* Posición del sidebar cuando el toolbar está contraído */
    z-index: 1000;
}

/* Estilo compartido entre el botón de menú y el menú del sidebar */
.menu-btn {
    font-family: ArtifaktElement;
    font-size: 1.5em; /* Tamaño del ícono */
    background-color: transparent;
    color: #c7c7cc;
    border: solid;
    border-color: gray;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    left: 11px;
}

.menu-btn i {
    color: #FF6b00; /* Color del ícono */
    font-size: 1.5em; /* Tamaño del ícono */
}


/* Estilo cuando el botón está expandido */
#toolbar:not(.hidden) .menu-btn {
    margin-left: 0px; /* Ajuste cuando el toolbar está expandido */
}


#preview {
    top: 5em;
    right: 0;
    bottom: 0;
    width: 97%; /* El viewer ocupa el 75% cuando el sidebar está visible */
    transition: width 0.3s ease; /* Transición para el ancho y desplazamiento del preview */
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        top: 3em;
        bottom: 75%;
    }

    #preview {
        width: 100%;
        top: 25%;
        bottom: 0;
    }
}

#toggleSidebar {
    font-family: ArtifaktElement;
    font-size: 1em;
    background-color: #3b3b3f;
    color: #c7c7cc;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#preview .overlay-text {
    position: absolute;
    top: 05px;
    left: 110px;
    text-align: left;
    z-index: 1000;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.8);
    display: none; /* Oculto inicialmente */
}

#preview .overlay-text hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    margin: 5px 0;
    width: 100%;
}

#preview .overlay-text span {
    font-size: 12px; /* Tamaño más pequeño para el texto de copyright */
    font-weight: normal; /* Peso de fuente reducido */
    display: block; /* Asegura que esté en una nueva línea */
    margin-top: 10px; /* Espaciado superior */
}

#header > * {
    height: 5em;
    margin: 0 0.5em;
}

#login {
    font-family: ArtifaktElement;
    font-size: 1em;
    background-color: #0a3d62;
    color: #c7c7cc;
    height: 40px;
}

#header .title {    
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1.8em;
    color: #ffffff;
    font-weight: normal;
    margin-left: 0;
    white-space: nowrap;
}

#header .digital {
    font-weight: bold;
    color: #ffffff;
}

#header .dot {
    color: #FF6b00;
    margin: 0 0.2em;
}

#header .twins {
    font-weight: bold;
    color: #ffffff;
}

#header .sensors {
    font-weight: normal;
    color: #008768;
    margin-left: 0.3em;
}

#tree {
    margin: 0.5em;
}

/* Estilo para ocultar el árbol */
#tree.hidden {
    display: none;
}


@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        top: 3em;
        bottom: 75%;
    }

    #preview {
        width: 100%;
        top: 25%;
        bottom: 0;
    }
}

.icon-hub:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/apps-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/stack-16.svg */
    background-size: cover;
}

.icon-project:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/project-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/organization-16.svg */
    background-size: cover;
}

.icon-my-folder:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-directory-16.svg);
    background-size: cover;
}

.icon-item:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-16.svg);
    background-size: cover;
}

.icon-version:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/clock-16.svg);
    background-size: cover;
}
/*Se introduce el panel de BIM Quality*/
#bim-quality-panel {
    position: fixed;
    top: 5em;
    right: -650px; /* Oculto */
    width: 550px;
    height: 100%;
    opacity: 0.7;
    padding: 20px;
    background-color: #3b3b3f;
    z-index: 3000;
    transition: right 0.3s ease-in-out;
}

#bim-quality-panel.visible-panel {
    right: 0; /* Visible */
}

#bim-quality-panel canvas {
    width: 100%;
    height: 450px;
}

#progress-chart {
    display: block;
    height: 90%;
    background-color: white;
    /* sin margin aquí */
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#panel-container {
    position: fixed;
    right: 0;
    top: 5em;
    width: 550px;
    height: 100%;
    background-color: gray;
    border: 1px solid #ccc;
    z-index: 4000;
    display: none; /* Oculto por defecto */
    transition: right 0.3s ease-in-out;
}

.visible-panel {
    display: block !important; /* Se muestra al activarlo */
    z-index: 4000;
}



#viewer {
    position: absolute;
    z-index: 1; /* Asegura que el visor no cubra el panel */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





/*Sensores temperatura*/


/* Estado normal del botón */
    /*Sensores temperatura*/
    /* Estado normal del botón */
 
#SensorData-button {
    /*background-color: #f0f0f0;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    cursor: pointer;
}

/* Estado presionado (hundido) */
#SensorData-button.button-pressed {
    background-color: #99c3f0a1;
    color: white;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2); /* Efecto "hundido" */
    border: 1px solid #0056b3a6;
    transform: translateY(2px); /* Leve desplazamiento */
}


.sensorMarkup {
    transition: opacity 0.2s ease-in-out;
    pointer-events: none; /* Evitar interacción en previsualización */
}




.docking-panel {
    border-radius: 8px !important;
    background-color: #2b2b2b !important;
    color: #eee !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5) !important;
    font-family: Arial, sans-serif;
}

    .docking-panel select {
        border-radius: 4px;
        border: 1px solid #444;
        background-color: #3b3b3b;
        color: #fff;
        padding: 5px;
    }




.sensorSphere {
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.sensorSphere:hover {
    transform: scale(1.2);
}





/* Contenedor principal de los markups */
.sensorMarkup {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    position: absolute;
    pointer-events: auto;
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column; /* Alineación vertical */
    gap: 10px; /* Espacio entre los bloques */
}

.sensorTitle {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

/*los deja ne paralelo A|B|C*/
.sensorSectionContainer {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaciado entre los elementos */
    align-items: center;
}


/*Agerga lineas*/
.sensorSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-right: 1px solid #ccc;
}
    /*Quita la ultima*/
    .sensorSection:last-child {
        border-right: none;
    }

    /*Sensores estilos*/
    /* Estilo del título de cada sensor */
    .sensorSection .title {
        font-size: 12px;
        font-weight: bold;
        color: black;
    }

    /* Estilo del valor del sensor */
    .sensorSection .value {
        font-size: 14px;
        font-weight: normal;
    }


/* Colores dinámicos (basados en la lógica de getClassForValue) */
.temperatureHigh {
    color: red;
}

.temperatureYellow {
    color: orange;
}

.temperatureGreen {
    color: green;
}

.temperatureCyan {
    color: cyan;
}

.temperatureBlueDark {
    color: navy;
}

.co2High {
    color: red;
}

.co2Medium {
    color: orange;
}

.co2Low {
    color: green;
}

.humidityHigh {
    color: blue;
}

.humidityOk {
    color: green;
}

.humidityLow {
    color: gray;
}



/* Ajustes del panel de sensores */
#sensor-panel {
    position: fixed;
    top: 5em; /* Debajo del header */
    right: -650px;
    width: 600px;
    height: calc(100% - 48px); /* Ajuste dinámico de la altura */
    background-color: #0A3D62;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: right 0.3s ease-in-out; /* Transición para animar la propiedad right */
}

#sensor-panel.visible-sensor-panel {
    right: 75px; /* Visible */
}

/* Ajustes de cada contenedor de gráfica */
.chart-container {
    width: 95%; /* Más espacio para evitar cortes */
    height: calc((100% - 60px) / 4); /* Altura proporcional dinámica */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Espaciado entre gráficas */
}

#sensor-panel canvas {
    width: 100%; /* Ocupa todo el contenedor */
    height: 100%; /* Altura completa dinámica */
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 8px;
}
