body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: ArtifaktElement;
}

#header, #preview {
    position: absolute;
}

#toolbar {
    position: absolute;
    top: 48px;
    display: flex;
    flex-direction: column;
    background-color: #2c2c2f; /* Fondo del toolbar */
    position: fixed;
    width: 220px; /* Ancho normal del toolbar */
    height: 100%;
    text-decoration: none;
    align-items: flex-start;
    z-index: 3000;
    justify-content: initial;
    transform-origin: top;
    transition: width 0.3s ease; /* Transición suave para el cambio de ancho */
}

/* Cuando el botón menu-btn se presiona */
#toolbar.hidden {
    width: 75px; /* Reducir el 70% del tamaño del toolbar */
}

.toolbar-btn {
    position: relative;
    left: 5px;
    width: 60px; /* Ancho de los botones convertidos en círculos */
    height: 60px; /* Alto de los botones igual al ancho */
    top: 20px;
    margin-bottom: 25px;
    padding: 10px;
    border: none;
    border-radius: 50%; /* Bordes redondeados (círculos) */
    background-color: #000000;
    color: transparent; /* El texto desaparece por defecto */
    font-family: ArtifaktElement;
    font-size: 1.2em; /* Ajuste del tamaño de íconos */
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.3s ease, width 0.3s ease; /* Agregar transición en el ancho */

    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

#toolbar.hidden .toolbar-btn {
    width: 60px; /* Ancho reducido */
    border-radius: 50%; /* Círculo */
}

#toolbar:not(.hidden) .toolbar-btn {
    width: 200px; /* Ancho normal cuando está expandido */
    border-radius: 30px; /* Bordes más cuadrados cuando se expande */
    color: white; /* Hacemos visible el texto */
}

/* Hacer visible el texto dentro del botón cuando el toolbar está expandido */
#toolbar:not(.hidden) .toolbar-btn span {
    display: inline-block;
    color: white; /* Texto en blanco */
    font-size: 0.9em; /* Ajustar el tamaño del texto */
    padding-left: 10px; /* Separación del ícono */
}

/* Mantener el ícono centrado cuando el toolbar está oculto */
#toolbar.hidden .toolbar-btn i {
    display: block;
    font-size: 1.5em; /* Ajuste del tamaño del ícono */
    margin: auto;
}

.toolbar-btn span {
    display: none; /* Ocultar el texto por defecto */
}

/* Estilos para los íconos dentro de los botones */
.toolbar-btn i {
    color: white; /* Color del ícono */
    font-size: 1.5em; /* Tamaño del ícono */
    transition: transform 0.3s ease; /* Efecto para animar el ícono */
}

.toolbar-btn:hover i {
    transform: scale(1.2); /* Escala el ícono al pasar el ratón */
}

.toolbar-btn:hover {
    background-color: #008768; /* Color más oscuro al pasar el ratón */
}

#header {
    height: 3em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #252529;
    color: #c7c7cc;
}
/* Estilos para el sidebar */
#sidebar {
    position: fixed;
    top: 3em;
    bottom: 0;
    width: 350px;
    background-color: #3b3b3f;
    overflow-y:auto;
    overflow-x:auto;
    color: #c7c7cc;
    /*opacity: 0.6;*/
    white-space: nowrap;
    z-index: 2000;
    transition: width 0.3s ease, left 0.3s ease;
}

#sidebar * {
    overflow: visible;
    white-space: nowrap;
}
/* Estilos para el sidebar cuando el toolbar está contraído */
#sidebar.expanded {
    left: 220px; /* Cuando el toolbar está expandido */
}

/* Estilos para el sidebar cuando el toolbar está oculto */
#sidebar.collapsed {
    left: 75px; /* Cuando el toolbar está contraído */
}

/* Agregar estilo de ocultación */
#sidebar.hidden {
    width: 75px;
    transition: left 0.3s ease;
    /*transform: translateX(-30%);*/ /* Desplazar el sidebar fuera de la pantalla */
}

/* Estilo de transición suave cuando el toolbar se expande o contrae */
#toolbar.hidden + #sidebar {
    left: 75px; /* Posición del sidebar cuando el toolbar está contraído */
    z-index: 1000;
}

/* Estilo compartido entre el botón de menú y el menú del sidebar */
.menu-btn {
    font-family: ArtifaktElement;
    font-size: 1.5em; /* Tamaño del ícono */
    background-color: transparent;
    color: #c7c7cc;
    border: solid;
    border-color: gray;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    left: 11px;
}
    
.menu-btn i {
    color: #c7c7cc; /* Color del ícono */
    font-size: 1.5em; /* Tamaño del ícono */
}


/* Estilo cuando el botón está expandido */
#toolbar:not(.hidden) .menu-btn {
    margin-left: 0px; /* Ajuste cuando el toolbar está expandido */
}


#preview {
    top: 3em;
    right: 0;
    bottom: 0;
    width: 97%; /* El viewer ocupa el 75% cuando el sidebar está visible */
    transition: width 0.3s ease; /* Transición para el ancho y desplazamiento del preview */
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        top: 3em;
        bottom: 75%;
    }

    #preview {
        width: 100%;
        top: 25%;
        bottom: 0;
    }
}

#toggleSidebar {
    font-family: ArtifaktElement;
    font-size: 1em;
    background-color: #3b3b3f;
    color: #c7c7cc;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#preview .overlay-text {
    position: absolute;
    top: 05px;
    left: 110px;
    text-align: left;
    z-index: 1000;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.8);
    display: none; /* Oculto inicialmente */
}

#preview .overlay-text hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    margin: 5px 0;
    width: 100%;
}

#preview .overlay-text span {
    font-size: 12px; /* Tamaño más pequeño para el texto de copyright */
    font-weight: normal; /* Peso de fuente reducido */
    display: block; /* Asegura que esté en una nueva línea */
    margin-top: 10px; /* Espaciado superior */
}

#header > * {
    height: 2em;
    margin: 0 0.5em;
}

#login {
    font-family: ArtifaktElement;
    font-size: 1em;
    background-color: #3b3b3f;
    color: #c7c7cc;
}

#header .title {    
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1.8em;
    color: #ffffff;
    font-weight: normal;
    margin-left: 0;
    white-space: nowrap;
}

#header .digital {
    font-weight: bold;
    color: #ffffff;
}

#header .dot {
    color: #008768;
    margin: 0 0.2em;
}

#header .twins {
    font-weight: bold;
    color: #ffffff;
}

#header .sensors {
    font-weight: normal;
    color: #008768;
    margin-left: 0.3em;
}

#tree {
    margin: 0.5em;
}

/* Estilo para ocultar el árbol */
#tree.hidden {
    display: none;
}


@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        top: 3em;
        bottom: 75%;
    }

    #preview {
        width: 100%;
        top: 25%;
        bottom: 0;
    }
}

.icon-hub:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/apps-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/stack-16.svg */
    background-size: cover;
}

.icon-project:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/project-16.svg); /* or https://raw.githubusercontent.com/primer/octicons/main/icons/organization-16.svg */
    background-size: cover;
}

.icon-my-folder:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-directory-16.svg);
    background-size: cover;
}

.icon-item:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-16.svg);
    background-size: cover;
}

.icon-version:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/clock-16.svg);
    background-size: cover;
}
/*Se introduce el panel de BIM Quality*/
#bim-quality-panel {
    position: fixed;
    top: 48px;
    right: -650px; /* Oculto */
    width: 550px;
    height: 90%;
    opacity: 0.7;
    padding: 20px;
    background-color: #3b3b3f;
    z-index: 3000;
    transition: right 0.3s ease-in-out;
}

#bim-quality-panel.visible-panel {
    right: 0; /* Visible */
}

#bim-quality-panel canvas {
    width: 100%;
    height: 450px;
}

#progress-chart {
    display: block;
    height: 90%;
    background-color: white;
    /* sin margin aquí */
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.temperature-marker {
    background-color: white;
    color: blue;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    pointer-events: auto;
}

label.markup {
    position: absolute;
    white-space: nowrap;
    cursor: pointer;
}

label.update {
    z-index: 1;
}

.temperatureBorder {
    background-color: rgba(256, 256, 256, 0.6);
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
}

.temperatureHigh {
    font-size: 14px;
    color: red;
}

.temperatureYellow {
    font-size: 14px;
    color: orange;
}

.temperatureOk {
    font-size: 14px;
    color: green;
}

.temperatureBlue {
    font-size: 14px;
    color: blue;
}

.temperatureLow {
    font-size: 14px;
    color: darkblue;
}

.co2High {
    font-size: 14px;
    color: red;
}

.co2Medium {
    font-size: 14px;
    color: orange;
}

.co2Low {
    font-size: 14px;
    color: green;
}

.humidityHigh {
    font-size: 14px;
    color: blue;
}

.humidityOk {
    font-size: 14px;
    color: green;
}

.humidityLow {
    font-size: 14px;
    color: brown;
}

.maintenance {
    font-size: 14px;
    color: gray;
}

.sensorValue {
    font-size: 14px;
    color: black;
}

.sensorMarkup {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    pointer-events: auto;
    z-index: 10;
    text-align: center;
}

.sensorMarkup div {
    margin-bottom: 2px;
}
